<div style="text-align:center">
    @{ ViewBag.Title = "Force Kayaks";
    }
    <h1>@ViewBag.Title.</h1>
    @*<h3>@ViewBag.Message</h3>*@

    <h3>Our inventory software will help you manage your stock of inventory and help you order more when you are low on stock.</h3>
</div>

