@{
    ViewBag.Title = "Home Page";
}

@*<div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-print"></span>
            Print Statement
        </a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-transfer"></span>
            Transfer Funds
        </a>
        <a href="#" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
            Deposit
        </a>
    </div>*@

@if (User.IsInRole("admin"))
{
    <div class="jumbotron row">
        <div class="col-md-2 text-center">
            <h3>Accounts</h3>
            <p>
                <a href="http://localhost:19536/AccountsForce" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-briefcase"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Contracts</h3>
            <p>
                <a href="http://localhost:19536/Contracts" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-folder-close"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Products</h3>
            <p>
                <a href="http://localhost:19536/Product2" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-cloud"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Order</h3>
            <p>
                <a href="http://localhost:19536/OrderItems" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-credit-card"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Bill Details</h3>
            <p>
                <a href="http://localhost:19536/Orders" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-barcode"></span>
                </a>
            </p>
        </div>
        <div class="col-md-2 text-center">
            <h3>Contacts</h3>
            <p>
                <a href="http://localhost:19536/Contacts" class="btn btn-primary btn-block">
                    <span class="glyphicon glyphicon-phone"></span>
                </a>
            </p>
        </div>
    </div>
}
@if (!User.IsInRole("admin") && !User.Identity.IsAuthenticated)
{
    <div class="container body-content">
        <div class="row">
            <div>
                <img src="~/Content/FullSizeRender.jpg" class="img-responsive well-sm " />
            </div>
        </div>
    </div>
    <div class="jumbotron" style="background-color:lightskyblue">
        <div style="text-align:center">
            <h2>Welcome to Force Kayaks!</h2>
            <h3>Please register or log in.</h3>
        </div>
    </div>
}
else if (!User.IsInRole("admin") && User.Identity.IsAuthenticated)
{
    <div class="container body-content">
        <div class="row">
            <div>
                <img src="~/Content/FullSizeRender.jpg" class="img-responsive well-sm " />
            </div>
        </div>
    </div>
    <div class="jumbotron" style="background-color:lightskyblue">
        <div style="text-align:center">
            <h2>Welcome to Force Kayaks!</h2>           
        </div>
    </div>
}